<div id="value-prop">
  <h1 id="logo">Pedagogy Gap</h1>

  <h4>Be relevant to your students.</h4>
</div>

<div id="login">
  <h2>Teacher Login</h2>
  <%= form_tag login_path do %>

    <div class="welcome-h1">

      <div class="field">
        <%= label_tag "E-mail" %>
        <%= text_field_tag "user[email]" %>
      </div>

      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>

      <div class="actions">
        <%= submit_tag "Login", :class => "btn" %>
      </div>

    </div>
  <% end %>

  <div>
    <h4 style="margin-bottom:2px;">Haven't signed up yet?</h4>
    <%= link_to "Create a new account", new_user_path %>
  </div>
  <div>
    <p style="margin-bottom:0; margin-top:15px;">In the wrong place?</p>
    <%= link_to "Yes, I'm a student", new_student_path, :style=> "text-decoration:none;" %>
  </div>

</div>