<div id="value-prop">
  <h1 id="logo">Pedagogy Gap</h1>

  <h4>Help a teacher know what you learned</h4>
</div>

<div id="login">
  <h2>Student Login</h2>
  <%= form_tag students_path do %> 

    <div class="welcome-h1">

      <div class="field">
        <%= label_tag "student[survey_id]", "Class Id" %>
        <%= number_field_tag "student[survey_id]" %>
      </div>

      <div class="field">         
        <%= label_tag :password, "Passcode" %>
        <%= password_field_tag :password %>
      </div>

      <div class="field">         
        <%= label_tag "student[username]", "Username" %>
        <%= text_field_tag "student[username]" %>
      </div>

      <div class="actions">
        <%= submit_tag "Take Survey", :class => "btn" %>
      </div>

    </div>
  <% end %>
</div>