<h1>Sign Up for Classy Act</h1>

<%= form_tag @user do %>
  <fieldset>
    <%= label_tag "email", 'E-mail:' %>
    <%= text_field_tag 'email' %>
  </fieldset>
  <fieldset>
    <%= label_tag 'password', 'Password:' %>
    <%= password_field_tag 'password' %>
  </fieldset>

  <%= submit_tag "Submit" %>
<% end %>