<h1>Welcome to Your Survey Dashboard</h1>

<% if @surveys.present? %>
  <div id="survey-index">
    <div id="surveys">
      <h2>Surveys</h2>
      <table>
        <tr>
          <th>Subject</th>
          <th>Semester</th>
          <th>Survey ID</th>
        </tr>
        <% @surveys.each do |survey| %>
          <tr>
            <td><%= link_to survey.subject, user_survey_path(@user, survey) %></td>
            <td><%= survey.semester %></td>
            <td><%= survey.id       %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div id="instructions">
      <h2>Instructions</h2>
      <p>
        Students can sign into your survey with the survey's ID and passcode at http://www.pedagogygap.com/students/new
      </p>
    </div>
  </div>
<% end %>

<% unless @surveys.present? %>

  <h2>Create a New Survey</h2>

  <p>The student feedback from Pedagogy Gap informs you of their learning experience and how it can be improved.  This survey gives you qualitative and quantitative data on what your students think is most important, most excellent, and needs improvement.</p> 

  <p>Students who take this survey let you know what they learned, how they interacted with peers, their confidence towards learning, whether they learned the inner tools and processes to succeed, how much agency they felt while learning, and whether the class learning environment led them to success.</p>

  <%= link_to "Learn More" %>

<% end %>

<div>
<%= link_to "Create a New Survey", new_user_survey_path(@user) %>
</div>