<div class="subfactor-graphs">
  <div id="import" class="subfactor-graph" data-sub_avg_factor="<%= @sub_avg_factor %>" data-import="<%= @import %>" data-sub_factors="<%= @survey.sub_factors(@factor) %>">
  </div>
</div>

<div class="subfactor-graphs">
  <div id="improve" class="subfactor-graph" data-sub_avg_factor="<%= @sub_avg_factor %>" data-improve="<%= @improve %>" data-sub_factors="<%= @survey.sub_factors(@factor) %>">
  </div>
</div>

<div class="subfactor-graphs">
  <div id="perform" class="subfactor-graph" data-sub_avg_factor="<%= @sub_avg_factor %>" data-perform="<%= @perform %>" data-sub_factors="<%= @survey.sub_factors(@factor) %>">
  </div>
</div>