<!-- Includes Javascript for Graphs -->
<%= render 'factors/javascripts' %>

<!-- Header for the page -->
<h1 class="info"><%= link_to survey_full_name(@survey), user_survey_path(@survey.user, @survey), :id=> "breadcrumb" %>:</h1> 
<h2 class="info"><%= "The #{params[:factor].capitalize} Sub-factor" %></h2>
<a class="fancybox info" data-href="<%= factor_about_path %>" href="#">
  <em>What is this?</em>
</a>

<!-- Renders Graphs -->
<div id="subgraph-div" class="clearfix">
  <%= render "factors/sub_factors", :survey => @survey, :sub_avg_factor => @sub_avg_factor, :import => @import, :improve => @improve, :perform => @perform %>
</div>

<%= render "factors/nav", :factors => @factors, :survey => @survey %>