<div class="survey">
<%= form_tag student_responses_path(@student), :method => "POST" %>
  <% @questions.each do |question| %>
    <div class="question">
      
      <%= question.content %>
      
      <% question.choices.each do |choice| %>
        <div class="choice">
          <%= label_tag choice.content %>
          <%= radio_button_tag question.id, choice.id, true%>
        </div>
      <% end %>
    
    </div>

<% end %>
  <%= submit_tag "Next" %>
</div>