<div class="survey">
  <div class="wrapper">
    <%= form_tag student_responses_path(@student), :method => "POST" %>

      <!-- Error Messages -->
      <%= render "shared/error_messages", :target => @student %>

      <% @questions.each_with_index do |question, index| %>
        <div class="question clearfix <%= "q-form-#{index+1}" %>">
          <div class="q-content <%= "q-#{index+1}" %>">      
            <%= "#{index+1}. #{question.content}" %>
          </div>
          <% question.choices.each do |choice| %>
            <div class="<%= "c-#{index+1}" %> choice">
              <%= label_tag "#{question.id}[#{choice.id}]", choice.content, :class => "#{choice.content}" %>
              <%= radio_button_tag question.id, choice.id %>
            </div>
          <% end %>
        
        </div>
        
      <% end %>
      <%= render "responses/survey_submit", :count => @questions.count %>
  </div>
</div>