<div class="survey">
<%= form_for @student, :url => student_responses_path, :method => "POST" do |f| %>
  <% @survey.questions.each do |question| %>

    
    <div class="question">
      
      <%= question.content %>
      
      <% question.choices.each do |choice| %>
        <div class="choice">
          <%= f.label choice.content %>
          <%= f.radio_button question.id, choice.id%>
        </div>
      <% end %>
    
    </div>
  
  <% end %>
  <%= submit_tag "Submit" %>
<% end %>
</div>