<div class="factor-graphs">
  <div id="most-important" class="factor-graph" data-avg_class_scores="<%= @avg_class_scores %>" data-meta_important_scores="<%= @meta_important_scores %>"></div>
</div>

<div class="factor-graphs">
  <div id="needs-improvement" class="factor-graph" data-avg_class_scores="<%= @avg_class_scores %>" data-meta_improvement_scores="<%= @meta_improvement_scores %>"></div>
</div>

<div class="factor-graphs">
  <div id="best-performing" class="factor-graph" data-avg_class_scores="<%= @avg_class_scores %>" data-meta_performing_scores="<%= @meta_performing_scores %>"></div>
</div>