<h1>What subject and semester are you surveying?</h1>

<%= form_for @survey do |f| %>
  
  <%= f.label :subject %>:
  <%= f.text_field :subject %><br />

  <%= f.label :semester %>:
  <%= f.text_field :semester %><br />

  <%= f.submit %>
<% end %>