<!DOCTYPE html>
<html>
<head>
  <title>Pedagogy Gap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <!-- Do not show Pedagogy Gap header for students or login pages -->
  <% unless ['sessions', 'responses', 'students'].include?(params[:controller]) || ["usersnew"].include?([params[:controller], params[:action]].join) %>

    <div id="top-nav clearfix">
      <%= link_to "Logout", logout_path, :class=>"btn btn-inverse", :style => "float:right; margin-right: 20px; margin-top: 10px;" %>
    </div>

    <div style="text-align:center; clear: both;">
      <%= link_to "Pedagogy Gap", user_path(@user), :id => "logo", :style => "text-decoration: none;" %>
    </div>

    
    <div class=" graph-w wrapper clearfix" >
      <%= yield %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
  
</body>
</html>
