<!DOCTYPE html>
<html>
<head>
  <title>Pedagogy Gap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <% unless ['sessions', 'responses'].include?(params[:controller]) || "studentsnew" == [params[:controller], params[:action]].join %>
    <div style="text-align:center;">
      <%= link_to "Pedagogy Gap", user_path(@user), :id => "logo", :style => "text-decoration: none;" %>
    </div>
    
    <div class=" graph-w wrapper clearfix" >
    <%= yield %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
  
</body>
</html>
